@import url(https://fonts.googleapis.com/css?family=Chewy);/*menu*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Chewy', cursive;
   
  }
  
  .clearfix {
    clear: both;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
.menubar {
    width: 100%;
    height: 80px;
    background: red;
  }
  
  .menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
  }
  .menubar ul{
    list-style: none;
    float: right;
    margin-top: 20px;
  }
  .menubar ul li {
    float: left;
    margin-right: 20px;
  }
  .menubar ul li a {
    text-decoration: none;
    color: yellow;
    font-size: 30px;
  } 

.header{
  background-color: rgba(255, 174, 174, 0.8);
  font-size: 25px;
  text-align: center;
  margin: 0px 0px;
}

 /*Grid Layout*/
 .grid-container {
  display: grid;
  grid-template-columns: auto  ;
  background-color: #2196F3;

}
.grid-item .img{ /*รูป*/
  width: 50%;
  height: 100%;
  padding:0px 350px 0px 350px;
  
}

.grid-item { /*ข้างใน*/
  background-color: rgba(255, 255, 255, 0.8);
  padding:0px ;
  font-size: 25px;
  text-align: center;

}
 .credit{ /*ตัวอักษร credit*/
font-size: 1em;
background: rgba(255, 174, 174, 0.8);
padding:0px;
border: 0px;
 }

footer { /*ล่างสุด*/
  background:rgb(255, 238, 140);
  padding:20px 0px;
  font-size: 1.5em;
  text-align: center;
  color: rgb(171, 68, 255); 
 
}
.cr {
  margin: 0px;
}
h1 {
  margin: 0px;
  padding: 20px
}